/*INICIO DE ESTILOS PREDETERMINADOS */

@font-face {
    font-family: "saira";
    src: url(./../fonts/SairaCondensed-Light.ttf);
} 

@font-face {
    font-family: "sairaBold";
    src: url(./../fonts/SairaCondensed-Bold.ttf);
} 
* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    font-family: "saira";
}


.contentGrid {
    background-image: linear-gradient( rgb(50, 223, 223) 5%, rgb(33, 40, 138) 75%);
    position: absolute; 
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header"  "tittle tittle" "conten conten" "footer footer"; 
    } 


header{
    grid-area: header;
    text-align: center;
}


h1{
    font-size: 45px;
    text-align: center;
    grid-area: tittle;
    padding: 15px; 
    border-bottom: #fff;
    color: #fff;
    border-bottom-style: solid;
}
h2{
    font-size: 30px;
    text-align: center;
    border-bottom: #fff;
    color: #fff;
}
h3{
    font-size: 25px;
    text-align: center;
    border-bottom: #fff;
    color: #fff;
}

main{
    grid-area: conten;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "empresa empresa" "ldp carrito";
}

#empresa{
    grid-area: empresa;
}


ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #fff;
}
li{
    font-size: 40px;
    padding: 40px;
}

footer{
    grid-area: footer;
}

.btn-secondary{
    --bs-btn-bg: #21288a;
    --bs-btn-hover-bg: red;
}
/* ESTILOS DE MODAL "CARGA DE PRODUCTOS" */

.modalContainer {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4) ;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .2s all;
}

.modalCarga{
    padding: 30px;
    display: flex;
    flex-flow: column wrap ;
    justify-content: center;
    color:#21288a;
    width: auto;
    height: auto;
    background-color: #fff;
}

.btnCerrar{
    display: flex;
    justify-content: right;
    padding-right: 40px ;
    width: auto ;
    height: auto;
}



.form-text{
    color: rgb(0,0,0);
}

.form-label{
    font-size: 40px;
}

.col-form-label{
    width: 100px;
}

.form-control{
    margin-left: 80px;
    width: 300px;
}

.botones{
    margin: 10px;
    text-align: center ;
}


/*ESTILOS DE LISTA DE PRECIOS*/




.containerLdp{
    grid-area: ldp;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: right;
    padding-left: 24%;
}

.containerBusqueda{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.containerInputB{
    width: 35%;
    display: flex;
    flex-flow: row wrap;
    justify-content:right;
    position: relative;
    white-space: nowrap;
}

.containerInputB h2{
    padding-right: 40px ;
    border-bottom: solid 2px;
}

.ldp{
    text-align: left;
    width: 45%;
    display: block;
    border-bottom: #fff solid 4px;
}
#search{
    background: transparent;
    border: solid 1px;
    border-color: #fff;
    color: #fff;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    float: left;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.containerInputB input#search::-webkit-input-placeholder {
    color: #fff;
 }

 .containerInputB .search{
    position: absolute;
    margin-top: 3px;
    margin-right: 10px;
    z-index: 1;
}

.listaPrecios{
    background-color: #fff;
    width: 80%;
    height: 650px;
    overflow: auto;
    border-top-left-radius: 5px;
    padding: 15px;
    box-shadow: 5px 10px 10px 3px rgba(53, 51, 51, 0.685);
}

.listaPrecios::-webkit-scrollbar {
    width: 12px;
    background: white;
  }
  
.listaPrecios::-webkit-scrollbar-track {
    background: rgb(230, 230, 230);
    border-radius: 5px;
  }
  
.listaPrecios::-webkit-scrollbar-thumb {
    background-color: rgb(50, 168, 223);
    border-radius: 5px;      
  }

.table{
    --bs-border-color: #21288a;
    --bs-table-color: #21288a;
    border-width: 4px;
    text-align: center;
    border-spacing: 10px;
    overflow: auto;
}

.table thead{
    border-bottom: solid 3px;
}

.table tbody tr{
    border-bottom: solid 1px;
}

/* ESTILOS DE CARRITO */

.containerCarrito{
    grid-area: carrito;
    width: 75%;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;

}

.carrito{
    background-color: #fff;
    width: 80%;
    height: 650px;
    overflow: auto;
    box-shadow: 5px 10px 10px 3px rgba(53, 51, 51, 0.685);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;

}
.carrito::-webkit-scrollbar {
    width: 12px;
    background: white;
  }
  
.carrito::-webkit-scrollbar-track {
    background: rgb(230, 230, 230);
    border-radius: 5px;
  }
  
.carrito::-webkit-scrollbar-thumb {
    background-color: rgb(50, 168, 223);
    border-radius: 5px;      
  }


.cr{
    text-align: left;
    width: 40%;
    display: block;
    border-bottom: #fff solid 4px;
    margin-left: 10px;
}

.inputCantidad {
    width: 70px;
    height: 35px;
    padding-left: 10px;
    padding-top: 2px;
}

.totalCarrito{
    width: 80%;
    height: 80px;
    background-color: #fff;
    color: #21288a;
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    font-family: "sairaBold";
    font-size: 20px;
    box-shadow: 5px 10px 10px 3px rgba(53, 51, 51, 0.685);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.precioText{
    font-size: 20px;
    font-weight: bold;
    width: 30%;
}

.btnComprar{
    width: 60%;
    display:flex;
    justify-content: right;
    margin-bottom: 20px;
    margin-left: 30px;
}


/* ESTILOS MODAL TICKET */


.modalTicket {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4) ;
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
    transition: .2s all;
}

#ticketCompra{
    padding: 2%;
    display: flex;
    flex-flow: column wrap ;
    justify-content: center;
    color:#21288a;
    width: 50%;
    height: auto;
    background-color: #fff;
}

#ticketCompra h2{
    color: black;
}

.datosTicket{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.datosFiscales h2{
    color: black;

}
.datosFiscales {
    border-bottom: dashed 3px black;
    border-top: dashed 2px black;
    width: 45%;
    padding: 3%;
}

.datosCliente{
    border-bottom: dashed 3px black;
    border-top: dashed 2px black;
    border-left: solid 2px black;
    width: 45%;
    padding: 3%;
}

#ticketCompra h3{
    font-size: 20px;
    text-align: left;
    color: black;
}

.modalVisible{
    opacity: 1;
    visibility: visible;
}


.precioTicket {
    display: inline;
    width: 100%;
    text-align: center;
    font-size: 40px;
}